.*
!.gitignore
!.htaccess

*.orig

/sites/*
!/sites/all
!/sites/default
!/sites/example.sites.php

/sites/all/*
!/sites/all/modules
/sites/all/modules/*
!/sites/all/modules/custom
!/sites/all/modules/features

/sites/default/*
!/sites/default/default.settings.php

/cache
/backup
/test*
/potx*

drushrc.php
